.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.env
.env.*
!.env.example
build/
.tooling/
android/.gradle/
android/local.properties
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Flutter/ephemeral/
ios/Pods/
ios/Podfile.lock
